.arcade-button {
  display: inline-block;
  margin: 45px;
  border: none;
  width: 10rem;
  height: 10rem;
  background: url('./components/ArcadeButton/default.png') no-repeat;
  background-size: cover;
  color: #fff;
  outline: none;

  &:active {
    background-image: url('./components/ArcadeButton/default_active.png');
  }

  &#btn_shift {
    background-image: url('./components/ArcadeButton/shift_default.png');

    &.active {
      background-image: url('./components/ArcadeButton/shift_active.png');
    }
  }
}
