.outer-button {
  display: inline-block;
  margin: 25px;
  border-radius: 55px;
  width: 110px;
  height: 110px;
  background: #000;

  .arcade-button {
    border-radius: 45px;
    width: 90px;
    height: 90px;
    margin: 10px;

    color: #fff;
    background: #4c4c4c; /* Old browsers */
    background: -moz-radial-gradient(
      center,
      ellipse cover,
      #4c4c4c 0%,
      #3f3f3f 25%,
      #131313 54%
    ); /* FF3.6-15 */
    background: -webkit-radial-gradient(
      center,
      ellipse cover,
      #4c4c4c 0%,
      #3f3f3f 25%,
      #131313 54%
    ); /* Chrome10-25,Safari5.1-6 */
    background: radial-gradient(
      ellipse at center,
      #4c4c4c 0%,
      #3f3f3f 25%,
      #131313 54%
    ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(
        startColorstr='#4c4c4c',
        endColorstr='#131313',
        GradientType=1
      ); /* IE6-9 fallback on horizontal gradient */

    &:hover {
    }

    &:active {
      background: #4c4c4c; /* Old browsers */
      background: -moz-radial-gradient(
        center,
        ellipse cover,
        #4c4c4c 0%,
        #1c1c1c 12%,
        #131313 29%
      ); /* FF3.6-15 */
      background: -webkit-radial-gradient(
        center,
        ellipse cover,
        #4c4c4c 0%,
        #1c1c1c 12%,
        #131313 29%
      ); /* Chrome10-25,Safari5.1-6 */
      background: radial-gradient(
        ellipse at center,
        #4c4c4c 0%,
        #1c1c1c 12%,
        #131313 29%
      ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
      filter: progid:DXImageTransform.Microsoft.gradient(
          startColorstr='#4c4c4c',
          endColorstr='#131313',
          GradientType=1
        ); /* IE6-9 fallback on horizontal gradient */
    }
  }
}
