.button-wrapper {
  max-width: 10rem;
  margin: 1.5rem 3rem;
}

.dropzone {
}

.dropzone-active {
  border-style: dashed;
  border-color: rgb(102, 102, 102);
  border-width: 2px;
  border-radius: 0.2rem;
}

.arcade-button {
  display: inline-block;
  border: none;
  width: 10rem;
  height: 10rem;
  background: url('./components/ArcadeButton/default.png') no-repeat;
  background-size: cover;
  color: #fff;
  outline: none;
  margin-bottom: 1.5rem;

  &:active {
    background-image: url('./components/ArcadeButton/default_active.png');
  }

  &#btn_shift {
    background-image: url('./components/ArcadeButton/shift_default.png');

    &.active {
      background-image: url('./components/ArcadeButton/shift_active.png');
    }
  }
}

.button-label {
  font-family: 'Impact Label', sans-serif;
  background-color: #000000;
  color: #fff;
  font-size: 2rem;
  line-height: 1.2;
  text-align: center;
  word-wrap: break-word;
  box-shadow: 0.75ch 0 0 0 #000000, -0.75ch 0 0 0 #000000;
}
